body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #F1F5F9;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #0A192F;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0A192F, #1E3A8A);
    color: white;
    text-align: center;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn {
    background: #E63946;
    padding: 12px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* TIMELINE */
.timeline .item {
    margin: 20px auto;
    max-width: 500px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #0A192F;
    color: white;
    padding: 10px;
}

/* WHATS */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    padding: 15px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

/* FOOTER */
footer {
    background: #0A192F;
    color: white;
    text-align: center;
    padding: 20px;
}