/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #ffffff;
    padding-top: 80px;
}

/* NAVBAR */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0f172a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
}

/* LOGO */
.logo {
    font-weight: bold;
    font-size: 18px;
}

/* MENU */
.menu {
    display: flex;
    gap: 18px;
    list-style: none;
    flex-wrap